.blue-bg {
  background-color: #336699
}

.header-text {
  font-size: 10.0rem;
}

.white-text {
  color: #FFFFFF
}

.quarter-height {
  min-height: 100px;
}

.light-blue-bg {
  background-color: #9fbfdf;
}
