.blue-bg {
  background-color: #336699;
}

.header-text {
  font-size: 10.0rem;
}

.white-text {
  color: #FFFFFF
}

.quarter-height {
  min-height: 100px;
}

.light-blue-bg {
  background-color: #9fbfdf;
}

.blue-text {
  color: #336699;
}

.underline-text {
  border-bottom: 1px solid #336699;
}

.margin-1-b {
  margin-bottom: 10px;
}

.value-text {
  font-size: 3.0rem;
}

.logo {
  height: 80px;
  color: #FFFFFF;
  animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
